.navigation {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding: 1rem;

  @include phone {
    display:none;
  }

  .nav-link{
    padding: 10px;
    position: relative;
    color: var(--basic-color-white);
    text-decoration: none;
    transition: all .5s;
    &::after {
      content: '';
      width: 0;
      height: 3px;
      background: var(--basic-color-white);
      position: absolute;
      bottom: 1px;
      left: 50%;
      bottom:10px;
      transform: translateX(-50%);
      transition: all .5s;
    }
    &:hover{
    color:var(--basic-color-white);
      &::after{
        width: 85%;
      }
    }
  }

  .nav-active {
    color:var(--basic-color-dark);
    &::after {
      content: '';
      width: 85%;
      height: 3px;
      background: var(--basic-color-dark);
      position: absolute;
      left: 50%;
      bottom:10px;
      transform: translateX(-50%);
    }
  }

  .logo{
    height: 65px;
    cursor: pointer;
  }

}